body{
    margin: 0;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    background-color: gray;
    margin: 0 auto;
    margin-top: 1em;
}

img{
    width: 100px;
    height: 100px;
   
}

h3{
    margin: 0 auto;
    background-color: yellowgreen;
    width: 80px;
    padding: 0.5em;
    border-radius: 8px;
    font-family:sans-serif;
}